<section ng-controller="Pages.SearchController" class="pages-search">
    <form class="search" name="frmSearch">
        <div ng-cloak ng-hide="isReady" class="highlight">
            <i class="fa fa-circle-o-notch fa-spin"></i> Initialising&#x2026;
        </div>
        <div ng-cloak ng-show="isReady">
            <div class="row">
                <div class="col-md-3">
                    <search-criteria-list type="all" title="All Words" ng-model="search"></search-criteria-list>
                </div>
                <div class="col-md-3">
                    <search-criteria-list type="exact" title="Exact Phrase" ng-model="search"></search-criteria-list>
                </div>
                <div class="col-md-3">
                    <search-criteria-list type="any" title="Any Words" ng-model="search"></search-criteria-list>
                </div>
                <div class="col-md-3">
                    <search-criteria-list type="exclude" title="Exclude Words" ng-model="search"></search-criteria-list>
                </div>
            </div>

            <p>
                <button type="button" class="btn btn-default btn-sm" ng-click="initSearchCriteria()">Reset</button>
                <button type="button" class="btn btn-primary btn-sm" ng-click="performSearch()"><i class="fa fa-search"></i> Search</button>
            </p>

            <pre>{{search.request}}</pre>
        </div>
    </form>
</section>
