section.components-search-criteria-list {
    display: block;
    padding: 10px;

    header {
        margin: 0 0 10px 0;

        span.term {
            > span {
                width: 100%;
                display: inline-block;
                margin-right: -40px;
                padding-right: 40px;
            }
        }

        label {
            display: block;
            font-size: 120%;
        }

        button.add {
            margin: -4px 0 0 4px;
        }
    }

    .criteria {
        margin-left: 0;

        .label {
            margin: 0 4px 4px 0;
            padding: 5px;
            font-size: 85%;
        }

        .label span {
            padding: 10px;
        }
    }
}