@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mattdunn\/Development\/angularjs\/tutorial\/angular-demo\/app\/components\/demo\/accordionDemo\/css\/main\.scss}line{font-family:\000032}}
div.accordion label {
  margin-left: 20px;
}
